[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-dotenv = "*"
sqlalchemy = "*"
uvicorn = "*"

[dev-packages]
black = "*"
ipdb = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.11"
